#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 999;
}
#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
nav{
    height: 60px;
    width: 100%;
    background: #344051;
    position: fixed;
}
.logo{
    color:white;
    font-size: 28px;
    line-height: 60px;
    float: left; 
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu ul li{
    float: left;
    color: #ffffff;
    line-height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 40px;
    opacity: 1;
    -webkit-animation: topshift 0.4s ease forwards ;
    -o-animation: topshift 0.4s ease forwards ;
    animation: topshift 0.4s ease forwards ;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: orange;
}
.menu li a:active{
        transform: scale(1.1);
}