nav{
    height: 60px;
    width: 100%;
    background: #344051;
}
.logo{
    color:white;
    font-size: 28px;
    line-height: 60px;
    padding: 0px 390px; 
    float: left; 
}
.menu{
    float: left;
    padding left: 430px;   
}
.menu ul li{
    float: left;
    color: white;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;    
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../IMG/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat, url(../IMG/Driver%20Booster%208.lnk.jpg) center/cover no-repeat;
}
.title__container{
    float:left;
    padding-left: 265px;
    padding-top: 428px;
    color: #2c384a;
    text-align: center;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    font-size: 23px;
    padding-top: 35px;
    font-weight:800;
    color: #79818d;
}
.tittle__container input{
    text-align: center;
    height: 40px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;263244;
    margin: 58px 14px 0px 14px;   
}
.about_me h2{
    box-shadow: top 40%;
    text-align: center;
    height: 427px;
    padding-top: 115px;
    color: #263244;
    font-size: 40px;
    font-weight: bold;
    background: url(../IMG/%D1%84%D0%BE%D1%82%D0%BA%D0%B01.png) 861px 224px no-repeat,url(../IMG/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.png) 100% 100% no-repeat;
    background: url(../IMG/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat center;
}
.about_me h3 p{
    margin: 25px 184px;
    color: #3f495a;
    font-size: 25px;
}
.about_me input{
    text-align: center;
    height: 40px;
    border: 4px solid #6f707e;
    margin: 40px 885px;
    border-radius: 6px;
}
.i_be_able{
    width: 100%;
    height: 522px;
    text-align: center;
    background: url(../IMG/%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BE%D1%84%D0%BE%D0%BD.png) 1376px 270px no-repeat,url(../IMG/%D0%B7%D0%BD%D0%B0%D0%BA.png) 791px 270px  no-repeat,url(../IMG/%D0%BD%D0%BE%D1%83%D1%82.png) 496px 270px no-repeat,url(../IMG/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 924px 160px no-repeat,url(../IMG/%D1%80%D0%B0%D0%BA%D0%B5%D1%82%D0%B0.png) no-repeat 1086px 265px,url(../IMG/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg) 100%/auto no-repeat; 
    padding-top: 100px;
    font-size: 30px;
    float: left;
}
.i_be_able ul{
    margin-left: 417px;
    height: 520px;
    width: 100%;
}
.i_be_able ul li{
    float: left;
    font-size: 10px;
    margin-right: 80px;
    line-height: normal;
    padding-top: 182px;
    
}
.i_be_able ul li h5{
    font-size: 16px;
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
}
.cases{
height: 258px;
width: 100%;
    float: left;
    text-align: center;
    padding-top: 50px;
    background: url(../IMG/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 918px 162px  no-repeat,url(../IMG/%D0%A1%D0%BB%D0%BE%D0%B9%202.jpg);
}
.cases>h3{
    margin: 80px;
    font-size: 28px;
    font-weight: bold;
    color: #384354;   
}
.cases p{
font-weight: bold;
    color: #384354;
}
.client{
    height: 1000px;
    width: 100%;
    float: left;
    background: url(../IMG/%D1%84%D0%BE%D1%82%D0%BA%D0%B0.png) no-repeat;
   padding-left: 388px;
    padding-top: 625px;
}
.client>h4{
    font-size: 25px;
    color: #959ba4;
    font-weight: bold;
}
.client h6{
    color:black;
}
.client>h5{
    font-size: 26px;
    padding-left: 360px;
    font-weight: bold;
    color: #384354;
}
.client>h3{
    padding-left: 360px;
text-align: left;
}
.menu1{
    height: 1000px;
    width: 100%;
    background: color #fff;
    float: left;
    background: url(../IMG/%D0%BB%D0%B8%D0%BD%D0%B8%D1%8F%20%D0%BF%D0%BE%D0%B4%D0%B8%D1%82%D0%BE%D0%B3%D0%B0.png) 455px 740px no-repeat;
}
.menu1>h2{
    text-align: center;
    font-size: 42px;
}
.menu1 select{
    font-size: 30px;
    border: 3px solid #384354;
    background-color: gray;
    margin: 15px 472px;
    padding-left: 472px;
}
.menu1 h3{
    font-size: 45px;
    margin: 55px 495px;
}
.menu1>h4{
    float: left;
    font-size: 20px;
   padding top: 100px;
}